<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <style>
      
      h1 {
          color: blue;
      }
  
  .team {
      color: red
  }
  </style>
</head>
<body>
    <h1> NBA Attendance</h1>
    <button class="team">Bulls</button>
    <button class="team">Mavericks</button>
    <button class="team">Heat</button>
    <button class="team">Raptors</button>
    <button class="team">Warriors</button>
    <button class="team">Celtics</button>
    <button class="team">Trail Blazers</button>
    <button class="team">Cavaliers</button>
    <button class="team">NY Knicks</button>
    <button class="team">Lakers</button>
    <button class="team">Nuggets</button>
    <button class="team">Spurs</button>
    <button class="team">Jazz</button>
    <button class="team">Rockets</button>
    <button class="team">Thunder</button>
    <button class="team">Bucks</button>
    <button class="team">Magic</button>
    <button class="team">Wizards</button>
    <button class="team">Clippers</button>
    <button class="team">Kings</button>
    <button class="team">Pacers</button>
    <button class="team">Hornets</button>
    <button class="team">Pelicans</button>
    <button class="team">Grizzlies</button>
    <button class="team">Hawks</button>
    <button class="team">Pistons</button>
    <button class="team">Nets</button>
    <button class="team">Timberwolves</button>
    <button class="team">Suns</button>
    <button class="team">76ers</button>

    <div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>


    <script>
        $('.team').on('click', function(){

            console.log('name of button', $(this).text())
            $.ajax({
                url: '/grabTeam/' + $(this).text()
            }).then(function(data){
                console.log('this is our data', data)

                var data = [
            {
                x: [2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001],
                y: [data[2], data[3], data[4], data[5], data[6], data[7], data[8], data[9], data[10], data[11], data[12], data[13], data[14], data[15], data[16], data[17], data[18], data[19], data[20]],
                type: 'bar'
            }
        ];

        Plotly.newPlot('myDiv', data);
            })
        })

    
      
    </script>
</body>
</html>